.container {
  position: absolute;
  width: 40vmin;
  left: 50%;
  top: 10vmin;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
}

.authMessage {
  margin-top: 2vmin;
  text-align: center;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

@media (max-width: 768px) {
  .container {
    top: 40vmin;
    width: 90vmin;
    padding: 4vmin;
  }
}
